:root {
  --color-section-bg:     #ffffff;
  --color-section-txt:    #000000;

  --color-QuickNav-bg:    #f1e6ab;
  --color-QuickNav-txt:   #360909;

  --color-table-diff-row: #f7e1c6;
}

.Articles { margin:1rem; width:50rem; }

.Articles .section {
	background-color: var(--color-section-bg);
	color: var(--color-section-txt);

	border: 1px solid;
	padding: 5px 10px;

	max-width: 50rem;
	margin-bottom: 1rem;
}

.section h2,
.section h3,
.section h4 { margin-bottom: 0; margin-top: 0; }
.section h3 { margin:1.5rem 0 5px 0; border-bottom: 1px solid; color:#bf0000; }


.section p:first-child, h3+p, h4+p { margin-top:0; }
.section p:last-child { margin-bottom:0; }

/* Coponent: Note */
.section p.note {
	margin-top: 2px;
	font-size: 12px;
	color: #bd2f2f;
	text-align: right;
}


.section .flexRow {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 1rem;

	margin: 1rem 0;
}
.section .flexRow .dicTableOuter { margin:0; }


/* Coponent: Table */
.dicTableOuter {
	text-align:center;
	width:fit-content;
	margin: 1rem 0;
}
table.docTable {
	border-spacing: 0;
}
table.docTable th,
table.docTable td {
	padding: .2em .5em;
}
table.docTable th {
	background: #1c1c1c;
	color: white;
	font-size: 12px;
}
table.docTable th.caption {
	text-align: left;
	font-size: 16px;
}
table.docTable tr:nth-child(odd) {
	background: var(--color-table-diff-row);
}



/* Quick Navigator  */
.QuickNav {
	background:var(--color-QuickNav-bg);
	position:fixed;
	margin:1rem; 
	padding:10px; 
	width: 120px;
}
.QuickNav a { font-size: 0.8em; color: var(--color-QuickNav-txt); }
