:root {
  --color-TitleBar-bg:    #4E1E27;
  --color-FrameBorder-bg: #1C1C1C;
  --color-NavBtn-bg:      #404040;
  --color-NavFolder-bg:   #40507e;
}

@font-face {
  font-family: "HanyiSenty";
  src: url("../fonts/HanyiSentyFoundation.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@keyframes navbar-appear {
  from { opacity: 0; }
}

/*==============
 * Body */
body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;

	background-image: url("../img/curve-lines-pattern.jpg");
	background-attachment: fixed;
  font-family: '微軟正黑體';
}


/*==============
 * Frame */
#FrameTitle {
  font-family: "HanyiSenty";
  font-size: 52px;
  font-weight: normal;
  text-shadow: 0.1em 0.1em 0em black;
  background-color: var(--color-TitleBar-bg);
  color: white;

  margin: 0;
  height: 70px;
  word-break: normal;
  overflow: hidden;
  position: relative;
}
#FrameTitle:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url('../img/hexagonal-line-pattern.jpg');
}

#FrameOuter {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(100vh - 70px);
}

#FrameNavbar {
  display: flex;
  flex-direction: column;
  background: var(--color-FrameBorder-bg);
  width: 160px;
  height: 100%;

  flex-grow: 0;
  flex-shrink: 0;
}

#FrameContent { 
  display: flex;
  flex-direction: column;

  height: 100%;
  overflow-y: hidden;

  flex-grow: 1;
}
#FrameContentHeader { 
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  background: var(--color-FrameBorder-bg);
  padding: 10px 10px;
  min-height: 32px;
  flex-shrink: 0;
}
#ItemContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  height: calc(100%);
  overflow-y: auto;
}

.Page {
  margin: 1rem;
  width: 100%;
}
.Page.List {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.Articles {

}


/*==============
 * NavBar Object */
#FrameNavbarInner {
  padding: 10px 10px;
}
#FrameNavbarInner a { text-decoration: none; }
#FrameNavbarInner .navitem {
  text-align: center;
  padding: 5px 20px;
  margin-bottom: 10px;
  color: white;
  background: var(--color-NavBtn-bg);
}
#FrameNavbarInner .navfolder {
  text-align: center;
  padding: 5px 5px;
  margin-bottom: 10px;
  color: white;
  background: var(--color-NavFolder-bg);
}

@media only screen and (max-width: 650px) {
  #FrameTitle { font-size: 40px; height: 52px; }
  #FrameOuter { height: calc(100vh - 52px); }
  #FrameNavbar { display: none; }
  #FrameNavbar.show { display: flex; position: fixed; top:95px; animation: navbar-appear .2s ease-in-out; z-index:11; }
  #NavbarToggleBtn { display: block; }
}


/*==============
 * Popup Windows */
#BlackLayout {
  position: fixed;
  top: 0; left: 0;
  z-index: 100;
  width: calc(100vw);
  height: calc(100vh);

  background: rgba(0, 0, 0, 0.5);
}
#Loading {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: calc(50vh);  
  left: calc(50vw); 
  height: 110px;
  width: 110px;
  margin-top:  -55px;
  margin-left: -55px;
  z-index: 105;

  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
#WindowFrame {
  position: fixed;
  top: calc(50vh);
  left: calc(50vw);
  z-index: 101;
  width: 600px;
  height: 400px;
  margin-top: -200px;
  margin-left: -300px;

  border: 2px solid #000;
  border-radius: 5px;
  background: var(--color-searchBack);
  color: white;
}
#WindowFrameHead {
  text-align: right;
  height: 24px;
}
#WindowFrameContent {
  padding: 10px;
  height: calc(100% - 44px);
  overflow-y: auto;
}
#WindowFrame.Large {
  width: calc(80vw);
  height: calc(70vh);
  margin-left: calc(-40vw);
  margin-top: calc(-35vh);
}

/*==============
 * Copied Message */
#CopyMsg{
  position: absolute;
  display: none;
}
#CopyMsg::after{
  content: "已複製!";
  color: #e9c078;
  font-size: 12px;
}

/*==============
 * Cache Container */
:root {
  --color-CacheContainer-bg:    #884c3a;
  --color-CacheContainer-slide: #bf9852;
}
#CacheContainer{
  background: var(--color-CacheContainer-bg);
}
#CacheContainer > .title {
  background: #5c0000;
  color:white;
  margin:0;
  padding:5px 10px;
  font-weight:bold;
}
#CacheContainer > .ListContainer {
  overflow-y: scroll;
  overflow-x: hidden;
}
#CacheContainer > .ListContainer > .List {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 1rem;
}
#CacheContainer > .resizeBar {
  padding: 9px 5px 1px 5px;
  cursor: row-resize;
  user-select: none;
}
#CacheContainer > .resizeBar::before {
  content: '';
  display: block;
  height: 2px;
  background: var(--color-CacheContainer-slide);
  margin: 2px;
}


/*==============
 * 3pp style */
/* <span class="cross-stand-alone"></span> */
.cross-stand-alone {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: 40px;
  height: 40px;
  right: 8px;
  top: 1px;
  cursor: pointer;
}
.cross-stand-alone:before, .cross-stand-alone:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  background: white;
  border-radius: 4px;
}
.cross-stand-alone:before { transform: rotate(45deg); }
.cross-stand-alone:after { transform: rotate(-45deg); }
.cross-stand-alone span { display: block; }

/* <div class="lds-dual-ring"></div> */
.lds-dual-ring {
  display: inline-block;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 68px;
  height: 68px;
  margin: 10px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*==============
 * General */
p {
  margin-top: .5em;
  margin-bottom: 0;
}
button { cursor: pointer; }
button:hover { filter: brightness(1.1); }
button:active { filter: brightness(0.8); }

.pseudoBtn { cursor: pointer; }
.pseudoBtn:hover  { filter: brightness(1.2); }
.pseudoBtn:active { filter: brightness(0.8); }


.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.info { 
  margin: .5rem;
  padding: .5rem;
  border: 1px solid black;
  border-radius: 5px;

  background: #fff;
}
.info p:first-child { margin-top:0; }