:root {
  --color-titleBack: #4e1e27;
  --color-searchBack: #1C1C1C;
  --color-lightBrown: #a39382;
  --color-select: #c57272;
}

@font-face {
  font-family: "HanyiSenty";
  src: url("../fonts/HanyiSentyFoundation.ttf");
  font-weight: normal;
  font-style: normal;
}

@keyframes appear {
  from {
    opacity: 0;
  }
}


body {
	background-image: url("../img/curve-lines-pattern.jpg");
	background-attachment: fixed;
  font-family: '微軟正黑體';
	margin: 0;
	box-sizing: border-box;
}

h1 {
	font-family: "HanyiSenty";
	font-size: 64px;
	font-weight: normal;
	text-shadow: 0.1em 0.1em 0em black;
	background-color: var(--color-titleBack);
	color: white;
	position: relative;
	margin-bottom: 0;
}
h1:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url('../img/hexagonal-line-pattern.jpg');
}
p {
	margin-top: .5em;
	margin-bottom: 0;
}
button {
  cursor: pointer;
}
button:hover {
  filter: brightness(1.1);
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.Bar{
  display: flex;
}


.SearchPanel {
  background: var(--color-searchBack);
  padding: 10px 5px;
}
form.SearchBox {
  position: relative;
  width: 300px;
  background: #bd5757;
  border-radius: .5rem;
  margin: 0;
}
.SearchBox input[type=search] {
  outline: 0;
  width: 300px;
  height: 2rem;
  background: #fff;
  padding: 0 1rem;
  border: none;
  border-radius: 0 .5rem .5rem 0;
  transition: all .3s ease-out;
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
.SearchBox input:not(:placeholder-shown) {
  border-radius: 0;
  width: calc(300px - 3rem);
}
.SearchBox #SearchBtn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 2rem;
  font-weight: bold;
  background: #bd5757;
  border: none;
  border-radius: 0 .5rem .5rem 0;
}
.SearchBox input:not(:placeholder-shown) + #SearchBtn {
  display: block;
}


.SwitchBlock{
  display: flex;
  align-items: center;
  color: white;
  margin: 0 2rem;
}
.SwitchBlock .label{
  margin: 0 5px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  top: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #994f4f;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


#AdvancedSeatchBtn {
  background: #707070; color: white;
  width: 100px;
  border: none;
}
.AdvancedFilterBar {
  display: none;
  margin: .8rem;
  color: white;
  transition: all .3s ease-out;
  transition-property: display;
}
.Entry{
  display: flex;
  align-items:  baseline;
  margin: 5px 0;
}
.Entry .Title {
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  background: var(--color-lightBrown);
  color: black;
}
.Entry .Options {
  display: flex;
  align-items:  baseline;
}

.Entry a, .Entry .Nested {
  color: white;
  cursor: pointer;
  margin-left: 8px;
}
.Entry a:hover,
.Entry a.selected,
.Entry .FolderName:hover
 { color: var(--color-select); }
.Entry a.selected:before { content: "["; }
.Entry a.selected:after { content: "]"; }

.Entry .Nested{
  display: flex;
  flex-direction: column;
}

.Entry .FolderName:before{ content: "[+]"; }
.Entry .FolderName.unfold:before{ content: "[-]";color:var(--color-select); }
.Entry .FolderBody.unfold{
  display: flex;
  flex-direction: column;
}
.Entry .FolderBody{ display: none; }