:root{
	--ninpo-title-row-background: #000;
	--ninpo-title-text: #fff;
	--ninpo-category-text: #fff;
	--ninpo-tag-label-bg: #000;
	--ninpo-tag-label-text: #fff;
	--ninpo-cell-label-bg: #b5b5b5;
	--ninpo-cell-label-text: #000;
}

/* ============================== */
/* Card Structure */
.info-card.card.enemy {
	width: 400px;
}

.info-card.card .titleRow {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	height: 42px;

	background: var(--ninpo-title-row-background);
	color: var(--ninpo-title-text);
}
.info-card.card .titleRow .level > .label {
	padding: 1px 5px;
	font-size: 12px;
}
.info-card.card .titleRow .level > .value {
	font-size: .8em;
	text-align: center;
}

.info-card.card .titleRow .title {
	font-size: large; font-weight: bold;
	margin: 0 2px;
	padding: 10px 3px;
}
.info-card.card .titleRow .attributes {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.info-card.card .titleRow .attributes .category {
	position: relative;
	margin: 2px 0px 0px;
	padding: 2px 6px 2px;

	color: var(--ninpo-category-text);
	font-size: 12px;
}
.info-card.card .titleRow .attributes .category:before {
	content: "";
	position: absolute;
	left: -6px;
	bottom: 0; top: 0;
	border-left: 0px;
	border-right-width: 6px;
	border-right-style: solid;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
}

.info-card.card .body {
	margin-top: 1px;
	border-top: 1px solid black;
	width: inherit;
}
.info-card.card .body .desc {
	padding: 5px;
	height: 45px;
	width: inherit;
	font-size: xx-small; font-style: italic;
	display: table-cell;
	background-image: url('../img/japanese-pattern.png');
	background-position: bottom;
}

.info-card.card .body > .bodyRow {
	display: flex;
	margin-top: 1px;
	gap: 1px;
}
.info-card.card .body > .bodyRow > .sideBlock {
	width:  60px;
	flex-shrink: 0;
	display: flex; flex-direction: column;
	gap: 1px;
}
.info-card.card .body > .bodyRow > .mainBlock {
	flex-grow: 1;
	display: flex; flex-direction: column;
	gap: 1px;
}

.bodyRow .block-cell {
	text-align: center;
	border: 1px solid black;
}
.bodyRow .block-cell > .label {
	font-size: .8em;
	padding-bottom: 2px;
	background: #333;
	color: white;
}
.bodyRow .block-cell > .value { padding: 3px 0; }

.bodyRow .block-cell.health   > .label { background: #c10000; }
.bodyRow .block-cell.gear     > .label { background: #a17a21; }
.bodyRow .block-cell.ultimate > .label { background: #240176; }
.bodyRow .block-cell.note     > .label { background: #01760b; }
.bodyRow .block-cell.skills   > .label { background: black; }

.bodyRow .block-cell.gear   > .value { font-size: .8em; }
.bodyRow .block-cell.gear > .value:nth-child(n+3) {
	border-top: 1px dotted black;
}
.bodyRow .block-cell.ultimate > .value { font-size: .8em; }
.info-card.card .ninpo-list {
	margin-top: 1px;
	border: 1px solid black;
	font-size: .9em;
}
.bodyRow .block-cell.note   > .value { font-size: .7em; }

.info-card.card .fold-list.ninpo > div { padding:0px; }
.info-card.card .fold-list.ninpo > .btn { flex-grow: 1; }
.info-card.card .ninpo-list button {
	padding: 0 5px;
	width: 100%;
}

/* ============================== */
/* Row Structure */
.info-card.row .titleCell {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 160px;
	flex-shrink: 0;

	background: var(--ninpo-title-row-background);
	color: var(--ninpo-title-text);
}
.info-card.row .titleCell .category {
	position: relative;
	margin-bottom: 1px;
	padding: 0px 6px 0px;

	color: var(--ninpo-category-text);
	font-size: 12px;
}
.info-card.row .titleCell .category:before {
	content: "";
	position: absolute;
	right: -6px;
	bottom: 0; top: 0;
	border-right: 0px;
	border-left-width: 6px;
	border-left-style: solid;
	border-top: 7px solid transparent;
	border-bottom: 6px solid transparent;
}
.info-card.row .titleCell .title {
	font-weight: bold;
	padding: 5px;
	align-self: stretch;

	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.info-card.row .blockCell {
	display: flex;
	flex-direction: column;
	text-align: center;
	border-right: 3px double #6a6a6a;
}
.info-card.row .blockCell .cell-label {
	font-size: 10px;
	padding-bottom: 1px;
	background: var(--ninpo-cell-label-bg);
	color: var(--ninpo-cell-label-text);
}
.info-card.row .blockCell .cell-content {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 2px;
}

.info-card.row .blockCell.level .cell-label { background: #bea6e3; }
.info-card.row .blockCell.hp    .cell-label { background: #ff9090; }

.info-card.row .blockCell.level  .cell-content {width: 40px;}
.info-card.row .blockCell.hp     .cell-content {width: 40px;}
.info-card.row .blockCell.field  .cell-content {width: 50px;  font-size:0.9em;}
.info-card.row .blockCell.skill  .cell-content {width: 190px; font-size:0.8em; padding:0 5px; }
.info-card.row .blockCell.gear   .cell-content   {width: 100px; font-size:0.9em;}
.info-card.row .blockCell.ultimate .cell-content {width: 110px; font-size:0.85em;}

.info-card.row .ninpo-list {
	/*display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;*/
	flex-grow: 1;
}
.info-card .ninpo-list .fold-list.ninpo {
	font-size: 0.9em;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.fold-list.ninpo:not(:first-child) { border-top: 1px dotted black; }
.fold-list.ninpo > div { padding:1px; }
.fold-list.ninpo .name  { width:110px; text-align:center; }
.fold-list.ninpo .type  { width: 40px; text-align:center; }
.fold-list.ninpo .range { width: 55px; text-align:center; border-right: 1px solid #ddd; }
.fold-list.ninpo .cost  { width: 55px; text-align:center; border-right: 1px solid #ddd; }
.fold-list.ninpo .skill  { width: 80px; text-align:center; border-right: 1px solid #ddd; }
.fold-list.ninpo .type.atk { background-color: var(--ninpo-type-atk); color: white; }
.fold-list.ninpo .type.sup { background-color: var(--ninpo-type-sup); color: white; }
.fold-list.ninpo .type.equ { background-color: var(--ninpo-type-equ); color: white; }

.info-card .ninpo-list .folded-effect {
	display: none;
	font-size: 0.85em;
	margin: 0 5px 3px 5px;
	padding: 5px;
	border: 1px dotted black;
	border-radius: 5px;
	background: #fffde5;
}

/* ============================== */
/* Color Scheme */
:root{
	--ninpo-type-atk: #811c1c;
	--ninpo-type-sup: #1a5c41;
	--ninpo-type-equ: #32236e;

	--enemy-category-default: #666666;
	--enemy-category-beast:	  #1b6047;
	--enemy-category-ninja: #203391;
	--enemy-category-demon: #790a87;
}

/* Category */
.enemy .category {        	background-color:  var(--enemy-category-default); }
.enemy .category:before { 	border-left-color: var(--enemy-category-default);
														border-right-color:var(--enemy-category-default); }
.enemy .category.beast {        	background-color:  var(--enemy-category-beast); }
.enemy .category.beast:before { 	border-left-color: var(--enemy-category-beast);
																	border-right-color:var(--enemy-category-beast); }
.enemy .category.ninja {        	background-color:  var(--enemy-category-ninja); }
.enemy .category.ninja:before { 	border-left-color: var(--enemy-category-ninja);
																	border-right-color:var(--enemy-category-ninja); }
.enemy .category.demon {        	background-color:  var(--enemy-category-demon); }
.enemy .category.demon:before { 	border-left-color: var(--enemy-category-demon);
																	border-right-color:var(--enemy-category-demon); }


.skillTable {
	display: flex;
	border: 1px solid black;
}
.skillTable .field-gap     { width:5px; border-right:1px solid; border-left:1px solid; }
.skillTable .field-gap:first-child { border-left-width:0px; }
.skillTable .field-gap.mark { background:#555; }

.skillTable .field-content { flex-grow:1; text-align:center; }
.skillTable .field-content > .title { font-size: .9em; background:black; color:white; }
.skillTable .field-content > .skill { font-size: .8em; border-top:1px dotted; }
.skillTable .field-content > .skill:first-child { border-top-width:0px; }
.skillTable .field-content > .skill.mark { background:#000f5e; color:white; }
