:root{
	--ninpo-hover: #ff0a94;
	--ninpo-type-atk: #811c1c;
	--ninpo-type-sup: #1a5c41;
	--ninpo-type-equ: #32236e;
}

.ninpo-card .restrict,
.ninpo-item .restrict {
	background: #df0000;
	color: white;
	font-size: 8px;
	margin: 0 1px;
	padding: 1px 3px;
	border-radius: 5px;
}
.ninpo-card .restrict.taima,
.ninpo-item .restrict.taima {
	background: #7d1ad7;
}


.ninpo-item {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	background: white;
	width: 100%;
	border: 3px groove #ccc;
	margin: 0 5px;
}
.ninpo-item:hover {
	border-color: var(--ninpo-hover);
}
.ninpo-item .title {
	background: black; color: white;
	width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.ninpo-item .category {
	position: relative;
	margin: 0;
	padding: 0px 6px 0;

	background: #666; color: white;
	font-size: 10px;
}
.ninpo-item .category:before {
	content: "";
	position: absolute;
	right: -6px;
	bottom: 0; top: 0;
	border-right: 0px;
	border-left: 6px solid #666;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}
.ninpo-item .mainTitle {
	font-weight: bold;
	padding: 5px;
	align-self: stretch;
	text-align: center;
}

.ninpo-item .type {
	padding: 13px 5px;
	text-align: center;
	width: 40px;
}
.ninpo-item .type.atk { background-color: var(--ninpo-type-atk); color: white; }
.ninpo-item .type.sup { background-color: var(--ninpo-type-sup); color: white; }
.ninpo-item .type.equ { background-color: var(--ninpo-type-equ); color: white; }
.ninpo-item .blockCell {
	display: flex;
	flex-direction: column;
	text-align: center;
	border-right: 3px double #6a6a6a;
    padding-bottom: 5px;
}
.ninpo-item .blockCell div:before {
    display: block;
    font-size: 10px;
    width: 100%;
    background: #b5b5b5;
    margin-bottom: 5px;
}
.ninpo-item .blockCell .range {width: 60px;}
.ninpo-item .blockCell .cost {width: 60px;}
.ninpo-item .blockCell .skill {width: 120px;}

.ninpo-item .blockCell .range:before { content: "間隔"; }
.ninpo-item .blockCell .cost:before { content: "花費"; }
.ninpo-item .blockCell .skill:before { content: "指定特技"; }

.ninpo-item .effect {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
	width: calc(100% - 500px);
}
.ninpo-item .restricts {
	padding-bottom: 1px;
}


.ninpo-card:hover { box-shadow: 0px 0px 2px 3px var(--ninpo-hover); }
.ninpo-card {
	width: 300px;
	border: 5px groove #ccc;
	background-color: white;
	border-radius: .5rem;
	margin: 5px;
	font-size: 16px;

	animation: appear .8s ease-in-out;
}
.ninpo-card .title {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	height: 42px;
	background: black;
	color: white;
}
.ninpo-card .title .mainTitle {
	font-size: large; font-weight: bold;
	margin: 0 2px;
	padding: 10px 3px;
}


.ninpo-card .attributes {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	background: black;
}
.ninpo-card .attributes .category {
	position: relative;
	margin: 2px 0px 3px;
	padding: 0px 6px 2px;

	background: #666; color: white;
	font-size: 10px;
}
.ninpo-card .attributes .category:before {
	content: "";
	position: absolute;
	left: -6px;
	bottom: 0; top: 0;
	border-left: 0px;
	border-right: 6px solid #666;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
}

.ninpo .category.clan { background-color: #385c99; }
.ninpo .category.clan:before { border-right-color: #385c99;border-left-color:#385c99; }
.ninpo .category.ancient { background-color: #8d852f; }
.ninpo .category.ancient:before { border-right-color: #8d852f;border-left-color:#8d852f;  }
.ninpo .category.demon { background-color: #460e7a; }
.ninpo .category.demon:before { border-right-color: #460e7a;border-left-color:#460e7a;  }
.ninpo .category.other { background-color: #8f4728; }
.ninpo .category.other:before { border-right-color: #8f4728;border-left-color:#8f4728;  }

.ninpo-card .restrict {
	background: #df0000;
	color: white;
	font-size: 8px;
	margin: 0 1px;
	padding: 1px 3px;
	border-radius: 5px;
}
.ninpo-card .restrict.taima {
	background: #7d1ad7;
}


.ninpo-card .arguments { display: inline-flex; font-size: 14px; width: 100%; padding-top: 1px; }
.ninpo-card .arguments .tag {
	border:solid black; border-width: 1px 0 1px 0;
}
.ninpo-card .arguments .tag:before {
	background: black; color: white;
	padding: 1px 8px 1px 8px;
	margin-right: 10px;
}

.ninpo-card .arguments .type { width: 130px; }
.ninpo-card .arguments .range,
.ninpo-card .arguments .cost { width: 85px; }
.ninpo-card .arguments .skill { width: 100%; font-size:12px; }

.ninpo-card .arguments .tag.atk { background-color: var(--ninpo-type-atk); color: white; }
.ninpo-card .arguments .tag.sup { background-color: var(--ninpo-type-sup); color: white; }
.ninpo-card .arguments .tag.equ { background-color: var(--ninpo-type-equ); color: white; }

.ninpo-card .arguments .tag.type:before {content: "種類";}
.ninpo-card .arguments .tag.range:before {content: "間隔";}
.ninpo-card .arguments .tag.cost:before {content: "花費";}
.ninpo-card .arguments .tag.skill:before {content: "指定特技"; margin-right: 5px;}

.ninpo-card .body {
	margin-top: 1px;
	border-top: 1px solid black;
	width: 300px;
	background-image: url('../img/japanese-pattern.png');
	background-position: bottom;
}
.ninpo-card .body .effect {
	background: rgba(255,255,255,.4);
	padding: 5px;
	height: 160px;
	overflow-y: auto;
}
.ninpo-card .body .desc {
	padding: 5px;
	height: 40px;
	font-size: xx-small; font-style: italic;
	display: table-cell;
	vertical-align: bottom;
}